<h1>Sobjects</h1>

<%= form_for @sobject do |f| %>
  <p>
    <%= f.label :name %> <%= f.text_field :name %><br>
    <%= f.label :type_id %> <%= f.text_field :type_id %><br>
    <%= f.label :pid %> <%= f.text_field :pid %><br>
    <%= f.label :memo %> <%= f.text_field :memo %><br>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
